.details {
  .season-header {
    .details-description {
      .details-description__header {
        margin: 0 0 10px;
        .desctiption__title-rating {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title {
          }
          .site-rating {
            min-width: 200px;
          }
        }
        .details-description__air-status {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .details-poster {
      margin: 0 auto;
    }
  }

  .seasons-list {
    .pagination {
      display: flex;
      justify-content: center;
    }
    h5 {
      margin: 0 10px 0 0;
    }
  }
}

.episode-modal {
  .episode-modal__header {
    margin: 0 0 30px;
  }
}
